.header {
    @apply text-white;
    background: linear-gradient(172deg, #021048 18%, #1e38a3 92%);
    background-size: 200% 200%;
    animation: AnimationName 20s ease-out infinite;

    .logo {
        font-family: Sulphur Point, serif;
        &_img {
            @apply mr-1;
            vertical-align: -.5rem;
        }
    }

    &_intro {
        @apply mx-auto text-center;
        max-width: 360px;

        &_body {
            color: #C2CBF1;
        }
    }

    .site-nav {
        @apply font-bold font-display;

        ul {
            li {
                @apply p-2 mx-2;
            }
        }
    }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:50% 40%}
    100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:50% 40%}
    100%{background-position:0% 9%}
}
@keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:50% 40%}
    100%{background-position:0% 9%}
}
